[build]
  publish = "."
  functions = "netlify/functions"


[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[redirects]]
  from = "https://healthdatalab.netlify.app/*"
  to = "https://healthdatalab.com/:splat"
  status = 301
  force = true
